@import "tailwindcss";
/* 
@layer base {
  .auth-isolated * {
    all: unset;
    all: revert;
    box-sizing: border-box;
    font-family: inherit;
  }

  .auth-isolated input,
  .auth-isolated button,
  .auth-isolated select,
  .auth-isolated textarea {
    all: unset;
    all: revert;
    box-sizing: border-box;
    font-family: inherit;
  }
} */